<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fun.cyhgraph.mapper.DishMapper">
    <!-- 销量增加指定数量 -->
    <update id="incrementSold">
        update dish set sold = ifnull(sold, 0) + #{number} where id = #{id}
    </update>
</mapper>
